.education-content-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.year-content-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.skills-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.resume-projects-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}